<h1>Prime Factors Katta !! </h1>

<table>
  <thead>
    <tr>
      <th>Prime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @numbers.each do |number| %>
      <tr>
        <td><%= number.prime %></td>
        <td><%= link_to 'Show Prime Factors', number %></td>
        <td><%= link_to 'Destroy', number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Number', new_number_path %>
